
      <div class="Currencies_control">
        <p>
          <button (click)="GetPreviousCurrencies();"> &lt;&lt; Anterior</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button (click)="GetNextCurrencies();"> Siguiente &gt;&gt;</button></p>
      </div>
      <div class="Currencies_detail">
        @for (c of currencies; track c.id; let index = $index) {
          @if(index>=start && index<(start+limit)){
            <div (click)="selCurrency(c);">{{c.name}}</div>
            <div (click)="selCurrency(c);" >${{c.price_usd}}</div>
            @if(c.percent_change_24h.startsWith('-')){
              <span>
                <img src="./assets/img/trending-down.svg" />
              </span>
            }
            @else {
              <span>
                <img src="./assets/img/trending-up.svg" />
              </span>
            }
          }
        }
      </div>
      <div class="Currencies_control">
        <p>
          <button (click)="GetPreviousCurrencies();"> &lt;&lt; Anterior</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button (click)="GetNextCurrencies();"> Siguiente &gt;&gt; </button></p>
      </div>
      <div class="Currencies_date">
        <p><strong>Actualizado: </strong>{{changedDate}}</p>
      </div>

